@model ShopTARge23.Models.OpenWeatherMaps.OpenWeatherMapsIndexViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1 class="text-white mt-5">Search City</h1>
    <div class="container text-white">
        <form method="post">
            <div class="container">
                <div class="form-group col-md-offset-3 col-md-5">
                    <h2>Search city forecast in a city</h2>
                    <label asp-for="Name" style="font-family: Arial"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="container">
                <div class="form-group col-md-offset-3 col-md-5">
                    <button asp-controller="openWeatherMaps" asp-action="SearchCity" class="btn btn-create">Search</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>